.nav-main {
    background-color:  #E5E5E5;
    padding-top: 30px;
    padding-bottom: 30px; 
}

.nav-main__list {
    display: flex;
    justify-content: center;
}

.nav-main__link {
    text-decoration: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
}
.nav-main__link:nth-child(6) {
    margin-right: 0px;
}
